[Unit]
Description=CodeDuel Flask Application (SocketIO)
After=network.target postgresql.service

[Service]
User=codeduel
Group=codeduel
WorkingDirectory=/opt/codeduel
Environment="PATH=/opt/codeduel/venv/bin"
EnvironmentFile=/opt/codeduel/.env
ExecStart=/opt/codeduel/venv/bin/gunicorn -c gunicorn.conf.py run_gunicorn:app

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target